
<nav class="navbar navbar-light b-light">
  <a class="navbar-brand" href="#">
    <img src="../../assets/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Educate Simple
  </a>

  <div class="navbar-nav ml-auto">
    <div class="row" style="margin-right: 3px;">
      <div class="col">
        <h4 class="fr">About</h4>
      </div>
      <div class="col ">
        <h4 class="fr">Contact</h4>
      </div>
    </div>
  </div>
</nav>
 <div class="content-wrapper content-wrap-ml-br-0" style="min-height: 240.333px;">
    <div class="container-full">
      <router-outlet></router-outlet>
      <app-home></app-home>
    </div>
  </div>
